<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="index.css" rel="stylesheet" />
</head>

<body>

  <ul class="daily-content js-toggle-accordions-scope" style="padding-left: 0px;">
    {{#each dates}}
      <li class="card__section">
        <section>
          <h2 class="daily-heading">
            <button
              class="daily-heading-toggle"
              data-action="toggle-accordions"
              title="Click to toggle the day, Ctrl + click to toggle all."
            >
              <time class="daily-heading-toggle__weekday js-offset-weekday" data-offset-date="{{isoPublishDate}}" datetime="{{isoUtcPublishTime}}">{{isoPublishDate}}</time>
            </button>
          </h2>

          <ul class="articles card" style="padding-left: 0px;">
            {{#each articles}}
              <li class="card__section">
                <article>
                  <details
                    class="article-expander"
                    data-action="toggle-native-accordion"
                    data-accordion-key="{{id}}"
                  >
                    <summary class="article-expander__title">{{title}}</summary><a class="footer-link" href="{{source.siteUrl}}"> {{source.siteTitle}}</a>
                    <a class="article-summary-link article-summary-box-outer" href="{{link}}">
                      <div class="article-summary-box-inner media-object">
                        {{#if imageUrl}}
                          <img src="{{imageUrl}}" loading="lazy" class="media-object__media article-image" />
                        {{/if}}
                        <span class="media-object__text">
                          <span>{{description}}</span>
                          {{#if readingTimeInMin}}
                            &ensp;<span class="article-reading-time">(&hairsp;{{readingTimeInMin}} min&hairsp;)</span>
                          {{/if}}
                        </span>
                      </div>
                    </a>
                  </details>
                </article>
              </li>
            {{/each}}
          </ul>
        </section>
      </li>
    {{/each}}
  </ul>

  <footer>
    {{#if githubRunUrl}}
    <a class="footer-link" href="{{githubRunUrl}}">
      <time id="build-timestamp" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time>
    </a>
    {{else}}
    <time id="build-timestamp" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time>
    {{/if}}
    <a class="footer-link" href="{{projectUrl}}">osmosfeed {{cliVersion}}</a>
  </footer>
  
  <script src="index.js?v1.14.4"></script>
</body>

</html>
